* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #282c34;
}

.form {
  position: relative;
  background-color: rgb(241, 234, 234);
  width: 50vw;
  margin: 1.5rem auto;
  margin-bottom: 0;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 43px 10px rgba(0, 0, 0, 0.829);
}

.form__heading {
  font-size: 5rem;
  text-align: center;
  color: rgb(44, 44, 44);
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.drop-zone {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.726);
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.drop-zone--inner {
  position: absolute;
  border: 2rem dashed rgb(46, 46, 46);
  width: 95%;
  height: 95%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone__text {
  font-size: 5rem;
  display: block;
}

.input-wrapper {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input {
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 43px -10px rgba(0,0,0,0.75);
  transition: all .5s;
}

.input--subject {
  flex-basis: 95%;
}

.label {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  transition: all .5s;
}

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.5rem);
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 43px -10px rgba(0, 26, 255, 0.945);
}

.input:focus:valid {
  background-color: rgba(0, 255, 157, 0.24);
}

.input:focus:invalid {
  background-color: rgba(255, 0, 0, 0.24);
}

.textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 43px -10px rgba(0,0,0,0.75);
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem auto 2rem auto;
  display: block;
  width: 95%; 
}

.textarea:focus:valid {
  box-shadow: 0px 0px 43px 5px rgba(0, 255, 157, 0.822);
}

.textarea:focus:invalid {
  box-shadow: 0px 0px 43px 5px rgba(255, 0, 0, 0.822);
}

.file-input {
  display: none;
}

.file-label {
  font-size: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  color: white;
  padding: 1rem;
  border-radius: 30px;
  background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.file-label:hover {
  background-color: rgb(219, 98, 85);
}

.file-label:active {
  background-color: rgb(119, 54, 47);
}

.file-input-wrapper {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.files {
  display: flex;
  flex-wrap: wrap;
}

.files-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #363636e1;
}

.delete-btn {
  height: 3rem;
  transition: all .3s;
}

.delete-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.disabled {
  display: none;
  visibility: hidden;
}

.submit-btn {
  text-align: center;
  border: none;
  font-size: 4rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  padding: 1rem;
  border-radius: 30px;
  background-color: rgb(60, 63, 231);
	border-bottom: 5px solid rgb(63, 49, 189);
  text-shadow: 0px -2px rgb(49, 75, 189);
  width: 30rem;
}

.submit-btn:hover {
  background-color: rgb(85, 110, 219);
}

.submit-btn:active {
  background-color: rgb(47, 64, 119);
}

.messages-box {
  background-color: rgb(241, 234, 234);
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 43px 10px rgba(0, 0, 0, 0.829);
}

.messages-box__titles {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.messages-box__wrapper {
  height: 100%;
  border-radius: 10px;
  padding: 2rem;
}

.messages {
  margin-top: 1rem;
  overflow-y: scroll;
  height: 95%;
}

.messages__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.item__date {
  flex-basis: 20%;
  border-right: 1px solid black;
  font-size: 1.5rem
}

.item__subject {
  display: block;
  padding: 0 1rem;
  flex-basis: 70%;
  overflow: hidden;
  text-align: center;
  border-right: 1px solid black;
  text-overflow: ellipsis; 
}

.item__status {
  flex-basis: 10%;
  text-align: right;
}

